.swiper-button-prev {
  display: none !important;
  width: 40px !important;
  height: 40px !important;
  margin-left: -20px !important;
  @media (min-width: 1200px) {
    display: flex !important;
  }
  &::after {
    color: #ff715f !important;
    font-size: 36px !important;
    font-weight: bold;
  }
}
.swiper-button-next {
  display: none !important;
  width: 40px !important;
  height: 40px !important;
  margin-right: -20px !important;
  @media (min-width: 1200px) {
    display: flex !important;
  }
  &::after {
    color: #ff715f !important;
    font-size: 36px !important;
    font-weight: bold;
  }
}
.swiper-pagination-bullet {
  background-color: #ff715f !important;
}